
@font-face {
  font-family: 'NokiaCellphoneFC-Small';
  src: url('fonts/NokiaCellphoneFC-Small.eot?#iefix') format('embedded-opentype'),  url('fonts/NokiaCellphoneFC-Small.woff') format('woff'), url('fonts/NokiaCellphoneFC-Small.ttf')  format('truetype'), url('fonts/NokiaCellphoneFC-Small.svg#NokiaCellphoneFC-Small') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'NokiaCellphoneFC-Small';
}

.crapchat__image {
  border-collapse: collapse;
}

.crapchat__image td {
  width: 1px;
  height: 1px;
}

.crapchat__image .on {
  background: black;
}

.crapchat__image .off {
  background: lightgrey;
}

.crapchat__image .highlighted {
  background: red;
}
